@import "compass";
@include global-reset;
@include reset-html5;

body {
  width: 750px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 24px;
  text-align: middle;
  background: #FFF;
  font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
}

p{
  margin-bottom: 20px;
}

@import "partials/header";
@import "partials/navigation";

@import "partials/blog"