@import "compass";
@include global-reset;
@include reset-html5;

$link-color: #000;
$link-color-hover: #F64;
$img-border: transparent;

$main-bg: #efede7;
$text-color: #6a6359;
$datecolor: #b7b7b7;

body {
  background: $main-bg;
  color: $text-color;
  vertical-align: middle;
  font: 16px/28px 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing:antialiased;
  -webkit-text-size-adjust:none;
}

img{
  max-width: 100%;
  height: auto;
}

img.float_left {
    margin: 10px 40px 30px 0;
}

img.float_right {
    margin: 10px 0 30px 40px;
}

a{
  color: $link-color;
  font-weight: bold;
  text-decoration: none;
  &:hover, &:focus{
    color: $link-color-hover;
  }
}

hr {
    width: 50%;
    height: 6px;
    display: block;
    background: #eee;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 0;
}

p, li{
  margin-bottom: 20px;
  code, pre {
    font-size: 16px;
    font-family: Georgia, serif;
    color: #333;
    background: #EEE;
    background: rgba(200, 200, 200, 0.3);
    padding: 2px 10px;
    font-weight: lighter;
  }
}

b, strong { font-weight: bold; }
i, em { text-style: italic; }

.gist{ font-size: 13px; line-height: 18px;}
.centered {text-align: center;}
.smaller { font-size: 0.8em;}

.clear{
  clear: both;
}

.float-left { float: left; }
.float-right{ float: right;}

.basic-alignment{
  &.left { @extend .float-left; }
  &.right{ @extend .float-right; }
}


footer{
  .site-end-note{
    @extend .centered;
    @extend .smaller;
    margin: 0.8em auto;
  }
}

blockquote {
    width: 100%;
    padding: 0 0 0 30px;
    margin: 10px 0 30px 0;
    border-left: 10px solid #ff6644;
    font-size: 18px;
    color: #838689;
    -webkit-box-sizing: border-box;     /* Safari/Chrome, other WebKit */
       -moz-box-sizing: border-box;     /* Firefox, other Gecko */
            box-sizing: border-box;     /* Opera/IE 8+ */
}

#main{
  max-width: 960px;
  width: 80%;
  margin: 0 auto;

  article.post{
    background: #FFF;
    padding: 80px 50px;
    margin: 0 auto;
    margin-bottom: 90px;
    position: relative;
    @include box-shadow(0 1px 2px rgba(0,0,0,.2), inset 0 -1px 3px #f6f4ee);

    .entry-title{
      font-size: 32px;
      line-height: 36px;
      vertical-align: middle;
      margin-bottom: 35px;
      font-weight: bold;
      max-width: 80%;
      color: #000;
    }

    // Post dates
    p.meta{
      position: absolute;
      top: 80px;
      right: 80px;
      color: $datecolor;
      font: 16/18 inherit;
    }

    // Sections on posts
    h2, h3{
      font-size: 20px;
      margin: 25px 0px;
      font-weight: bold;
      color: #000;
      border-bottom: 1px solid #DDD;
    }
  } // end of article.post

  .single-post{
    .nav-pag{
      margin-top: 20px;
    }
  }
  .pagination{
    font-size: 20px;
    margin-top: -80px;
    margin-bottom: 55px;
    padding: 0 20px;
    a{
      display: inline-block;
    }
  }
} // End of #main

body > footer{
  margin-top: -35px;
  #archive{
    font-size: 28px;
    margin-bottom: 30px;
  }
}

//@import "partials/navigation";
//@import "partials/blog";
@import "partials/header";
@import "partials/archive";

@media screen and (max-width: 480px){
  body{
    font-size: 14px;
  }
  .gist{
    .code{
      font-size: 11px !important;
      line-height: 16px !important;
    }
    td.gutter{ display: none; }
  }

}


/*---------------------- Syntax Highlighting -----------------------------*/
.entry-content > .highlight {
  border: 1px solid #DDD;
  padding: 10px;
  font-size: 14px;
  line-height: 1.8em;
  display: block;
}
td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
body .hll { background-color: #ffffcc }
body .c { color: #408080; font-style: italic }  /* Comment */
body .err { border: 1px solid #FF0000 }         /* Error */
body .k { color: #954121 }                      /* Keyword */
body .o { color: #666666 }                      /* Operator */
body .cm { color: #408080; font-style: italic } /* Comment.Multiline */
body .cp { color: #BC7A00 }                     /* Comment.Preproc */
body .c1 { color: #408080; font-style: italic } /* Comment.Single */
body .cs { color: #408080; font-style: italic } /* Comment.Special */
body .gd { color: #A00000 }                     /* Generic.Deleted */
body .ge { font-style: italic }                 /* Generic.Emph */
body .gr { color: #FF0000 }                     /* Generic.Error */
body .gh { color: #000080; font-weight: bold }  /* Generic.Heading */
body .gi { color: #00A000 }                     /* Generic.Inserted */
body .go { color: #808080 }                     /* Generic.Output */
body .gp { color: #000080; font-weight: bold }  /* Generic.Prompt */
body .gs { font-weight: bold }                  /* Generic.Strong */
body .gu { color: #800080; font-weight: bold }  /* Generic.Subheading */
body .gt { color: #0040D0 }                     /* Generic.Traceback */
body .kc { color: #954121 }                     /* Keyword.Constant */
body .kd { color: #954121; font-weight: bold }  /* Keyword.Declaration */
body .kn { color: #954121; font-weight: bold }  /* Keyword.Namespace */
body .kp { color: #954121 }                     /* Keyword.Pseudo */
body .kr { color: #954121; font-weight: bold }  /* Keyword.Reserved */
body .kt { color: #B00040 }                     /* Keyword.Type */
body .m { color: #666666 }                      /* Literal.Number */
body .s { color: #219161 }                      /* Literal.String */
body .na { color: #7D9029 }                     /* Name.Attribute */
body .nb { color: #954121 }                     /* Name.Builtin */
body .nc { color: #0000FF; font-weight: bold }  /* Name.Class */
body .no { color: #880000 }                     /* Name.Constant */
body .nd { color: #AA22FF }                     /* Name.Decorator */
body .ni { color: #999999; font-weight: bold }  /* Name.Entity */
body .ne { color: #D2413A; font-weight: bold }  /* Name.Exception */
body .nf { color: #0000FF }                     /* Name.Function */
body .nl { color: #A0A000 }                     /* Name.Label */
body .nn { color: #0000FF; font-weight: bold }  /* Name.Namespace */
body .nt { color: #954121; font-weight: bold }  /* Name.Tag */
body .nv { color: #19469D }                     /* Name.Variable */
body .ow { color: #AA22FF; font-weight: bold }  /* Operator.Word */
body .w { color: #bbbbbb }                      /* Text.Whitespace */
body .mf { color: #666666 }                     /* Literal.Number.Float */
body .mh { color: #666666 }                     /* Literal.Number.Hex */
body .mi { color: #666666 }                     /* Literal.Number.Integer */
body .mo { color: #666666 }                     /* Literal.Number.Oct */
body .sb { color: #219161 }                     /* Literal.String.Backtick */
body .sc { color: #219161 }                     /* Literal.String.Char */
body .sd { color: #219161; font-style: italic } /* Literal.String.Doc */
body .s2 { color: #219161 }                     /* Literal.String.Double */
body .se { color: #BB6622; font-weight: bold }  /* Literal.String.Escape */
body .sh { color: #219161 }                     /* Literal.String.Heredoc */
body .si { color: #BB6688; font-weight: bold }  /* Literal.String.Interpol */
body .sx { color: #954121 }                     /* Literal.String.Other */
body .sr { color: #BB6688 }                     /* Literal.String.Regex */
body .s1 { color: #219161 }                     /* Literal.String.Single */
body .ss { color: #19469D }                     /* Literal.String.Symbol */
body .bp { color: #954121 }                     /* Name.Builtin.Pseudo */
body .vc { color: #19469D }                     /* Name.Variable.Class */
body .vg { color: #19469D }                     /* Name.Variable.Global */
body .vi { color: #19469D }                     /* Name.Variable.Instance */
body .il { color: #666666 }                     /* Literal.Number.Integer.Long */