#archive {
  #content > div { &, > article { padding-top: 0; } }
}
#blog-archives {
  article {
    padding: 1em 0 1em;
    position: relative;
    background: $img-border bottom left repeat-x;
    color: $text-color;
    footer { padding: 0; margin: 0;}
  }

  a{
    font-weight: normal;
    color: $link-color;
    &:hover, &:focus{
      color: $link-color-hover;
    }
  }

  h1 {
    margin-bottom: .3em;
    font-size: 1.5em;
    a {
      font-weight: bold;
      display: inline-block;
    }
  }

  h2 { display: none; }
  .categories { display: none; }

  .entry-content { display: none; }

  time {
    font-size: .9em;
    line-height: 1.2em;
    .month, .day { display: inline-block; }
    .month { text-transform: uppercase; }
  }

  p { margin-bottom: 1em; }

  @media only screen and (min-width: 550px) {
    article { margin-left: 5em; }
    .categories {
      display: block;
    }

    h2 {
      font-weight: normal;
      display: block;
      &:first-child { padding-top: .75em;}
    }
    time {
      position: absolute;
      text-align: right;
      left: 0em;
      top: 1.8em;
    }
    .year { display: none; }
    article {
      padding:{left: 4.5em; bottom: .7em;}
    }
  a.category {
    line-height: 1.1em;
    }
  }
}
#content > .category {
  article {
    margin-left: 0;
    padding-left: 6.8em;
  }
  .year { display: inline; }
}

article{
  h1{
    line-height: 1em;
    a { color: inherit; &:hover { color: $link-color-hover; } }
  }
}