body > header {
  h1 {
    text-align: center;
    font-size: 3.0em;
    display: block;
    margin: 0;
    @include text-shadow(-1px -1px 0px #FFF);
    a, a:visited, a:hover {
      color: #000;
      text-decoration: none;
    }
  }
  h2 {
    text-align: center;
    @include text-shadow(-1px 0px 1px #FFF);
    margin: .2em 0 0;
    font-size: 1.2em;
    color: #333;
    font-weight: normal;
  }
  margin: 35px auto;
}
