---
layout: default
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article class='post'>
      {% include article.html %}
    </article>
  {% endfor %}
  <div class="pagination">
    {% if paginator.next_page %}
      <a class="prev float-left" href="{{paginator.next_page}}">&larr; Older</a>
    {% endif %}

    {% if paginator.previous_page %}
    <a class="next float-right" href="{{paginator.previous_page}}">Newer &rarr;</a>
    {% endif %}
    <div class='clear'></div>
  </div>
</div>